/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-dark-grey: #4d4d4d;
  --color-grey: #e8e9e9;
  --color-light-grey: #f8f9f9;
  --color-blue: #79abff;
  --color-dark-blue: #6a96e0;
  --color-black: #000000;

  /* Font size */
  --font-large: 24px;
  --font-medium: 20px;
  --font-regular: 16px;
  --font-small: 14px;
  --font-micro: 12px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

button {
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 20%;
}

ul {
  list-style: none;
  padding-left: 0px;
}

/* modal */
.modal-wrapper {
  display: none;
}

.modal-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
}

.modal-content {
  width: 70%;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translate3d(-50%, -50%, 0);
  background-color: var(--color-white);
  box-shadow: 0 0 5px var(--color-dark-grey);
  border-radius: 10px;
}

.search__employee {
  text-align: center;
  font-weight: var(--weight-bold);
  font-size: var(--font-medium);
}

.search__input {
  padding: 0 20px;
}

.input.search {
  background-color: var(--color-grey);
  font-size: var(--font-regular);
  padding-left: 10px;
  height: 40px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.employee__items__container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.employee__items__container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  height: 500px;
  line-height: 60px;
  overflow-y: scroll;
}

.employee__item {
  display: inline-block;
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: none;
  display: inline-block;
  margin: 0px 8px 0px 8px;
}

label input[type="radio"]:after {
  display: inline-block;
  content: "✔";
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-grey);
  width: 30px;
  height: 30px;
  border: 1px solid var(--color-light-grey);
  border-radius: 50%;
  cursor: pointer;
  font-size: var(--font-medium);
}

label input[type="radio"]:checked:after {
  background-color: var(--color-blue);
  border: 1px #fff;
}

/* header */
.leave__application__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-blue);
  padding: 10px 20px;
  height: 60px;
}

.backward__icon {
  margin-top: 2px;
  font-size: var(--font-medium);
}

.leave__application__subject {
  margin-top: 2px;
  color: var(--color-white);
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  text-align: center;
}

.send__btn {
  background: var(--color-dark-blue);
  font-size: var(--font-small);
  color: var(--color-white);
}

.fa-solid {
  color: var(--color-white);
}

/* main */

.leave__application__container {
  position: relative;
  height: 60px;
  line-height: 60px;
  background-color: var(--color-white);
}

.leave__applicationn__list {
  display: inline-block;
  width: 32%;
  text-align: center;
  background-color: var(--color-light-grey);
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-regular);
}

.leave__application__content {
  font-size: var(--font-regular);
  position: absolute;
  display: inline-block;
  margin-left: 0;
  width: 55%;
  margin-left: 10px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.input {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  font-size: var(--font-regular);
}

.input__file {
  text-decoration: underline;
  color: var(--color-dark-grey);
  cursor: pointer;
}

.icon__box {
  margin-right: 10px;
  float: right;
}

.icon__box.icon__width {
  text-align: center;
  width: 30px;
}

.search__btn {
  font-size: var(--font-medium);
  background-color: var(--color-white);
}

.fa-magnifying-glass {
  color: var(--color-black);
}

.fa-chevron-right {
  color: var(--color-black);
}

.divider {
  height: 1px;
  width: 100%;
  margin: auto;
  background-color: var(--color-grey);
  z-index: 99;
}

/* approval*/

.approval__container {
  position: relative;
  height: 60px;
  line-height: 60px;
  background-color: var(--color-white);
}

.approval__list.subject {
  background-color: var(--color-white);
  height: 80px;
  line-height: 80px;
  font-weight: var(--weight-bold);
  font-size: var(--font-regular);
  color: var(--color-dark-blue);
}

.approval__list {
  display: inline-block;
  width: 32%;
  text-align: center;
  background-color: var(--color-light-grey);
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-regular);
}

.approval__content {
  position: absolute;
  display: inline-block;
  margin-left: 0;
  width: 55%;
  margin-left: 10px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.divider.special {
  height: 1px;
  width: 70%;
  margin: auto;
  background-color: var(--color-grey);
  z-index: 99;
}

.approval_employee {
  background-color: var(--color-blue);
  padding: 4px 8px;
  border-radius: 14px;
  color: var(--color-white);
}

.name {
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
}

.position {
  font-size: var(--font-micro);
}

.trash__btn {
  background-color: var(--color-blue);
  padding: 0;
}

@media (max-width: 359px) {
  :root {
    /* Font size */
    --font-large: 20px;
    --font-medium: 16px;
    --font-regular: 14px;
    --font-small: 12px;
    --font-micro: 10px;
  }

  .search__input {
    padding: 0 10px;
  }

  .employee__items__container {
    line-height: 50px;
  }

  input[type="radio"] {
    margin: 0px 4px 0px 4px;
  }

  label input[type="radio"]:after {
    width: 20px;
    height: 20px;
    font-size: var(--font-regular);
  }
}
