/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-dark-grey: #4d4d4d;
  --color-grey: #e8e9e9;
  --color-light-grey: #f8f9f9;
  --color-blue: #79abff;
  --color-dark-blue: #6a96e0;
  --color-black: #000000;

  /* Font size */
  --font-large: 24px;
  --font-medium: 20px;
  --font-regular: 16px;
  --font-small: 14px;
  --font-micro: 12px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

button {
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 20%;
}

/* header */
.leave__application__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-blue);
  padding: 10px 20px;
  height: 60px;
}

.backward__icon {
  margin-top: 2px;
  font-size: var(--font-medium);
}

.leave__application__subject {
  margin-top: 2px;
  color: var(--color-white);
  font-size: var(--font-medium);
  font-weight: var(--weight-bold);
  text-align: center;
}

.icon__box {
}

.send__btn {
  background: var(--color-dark-blue);
  font-size: var(--font-small);
  color: var(--color-white);
}

.fa-solid {
  color: var(--color-white);
}

/* main */

.leave__application__container {
  position: relative;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  height: 60px;
  line-height: 60px;
  background-color: var(--color-white);
}

.leave__applicationn__list {
  display: inline-block;
  width: 32%;
  text-align: center;
  background-color: var(--color-light-grey);
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-regular);
}

.leave__application__content {
  position: absolute;
  display: inline-block;
  margin-left: 0;
  width: 60%;
  margin-left: 10px;
  text-align: left;
}

.input {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  font-size: var(--font-regular);
}

.input__file {
  text-decoration: underline;
  color: var(--color-dark-grey);
  cursor: pointer;
}

.icon__box {
  margin-right: 10px;
  float: right;
}

.search__btn {
  font-size: var(--font-medium);
  background-color: var(--color-white);
}

.fa-magnifying-glass {
  color: var(--color-black);
}

.fa-chevron-right {
  color: var(--color-black);
}

.divider {
  height: 1px;
  width: 100%;
  margin: auto;
  background-color: var(--color-grey);
  z-index: 99;
}

/* approval*/

.approval__container {
  position: relative;
  height: 60px;
  line-height: 60px;
  background-color: var(--color-white);
}

.approval__list.subject {
  background-color: var(--color-white);
  height: 80px;
  line-height: 80px;
  font-weight: var(--weight-bold);
  font-size: var(--font-regular);
  color: var(--color-dark-blue);
}

.approval__list {
  display: inline-block;
  width: 32%;
  text-align: center;
  background-color: var(--color-light-grey);
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-regular);
}

.approval__content {
  position: absolute;
  display: inline-block;
  margin-left: 0;
  width: 60%;
  margin-left: 10px;
  text-align: left;
}

.divider.special {
  height: 1px;
  width: 70%;
  margin: auto;
  background-color: var(--color-grey);
  z-index: 99;
}

.approval_employee {
  background-color: var(--color-blue);
  padding: 4px 8px;
  border-radius: 14px;
  color: var(--color-white);
}

.name {
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
}

.position {
  font-size: var(--font-micro);
}

.trash__btn {
  background-color: var(--color-blue);
  padding: 0;
}
